:root{
    --yellow: #fad83e;
    --black: #212018;
    --white: #f7f5df;
    --red: #f54949;
}
*, *::after, *::before{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5rem;
}

button:hover{
    cursor: pointer;
}

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--yellow);
  width: 100%;
  height: 10vh;
  min-height: 50px;
}

#navbar .navbar-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar .menu{
    /* width: 25%; */
    margin-right: 2.5%;
    display: flex;
    justify-content: space-around;
}

#navbar .navbar-container .color-changer{
    width: 10vh;
    height: 100%;
    border: 0;
    background-color: var(--black);
}

#navbar a{
    padding: 0 25px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

#navbar .navlink{
    color: var(--black);
    /* height: 100%; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .navlink:hover{
    background-color: var(--black);
    color: var(--white);
}

#welcome-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-section h1{
    font-size: 4rem;
}

.word-yellow{
    color: var(--yellow)
}

#projects{
    background-color: var(--red);
    /* height: 100vh; */
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* #projects .project-header{
    margin-bottom: 0vh;
} */

#projects .project-tile{
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: space-evenly;
    /* align-content: space-between; */
    flex-wrap: wrap;
}

.project-tile a{
    /* display: block; */
    font-size: 0;
    margin: 30px 0 10px;
    color: inherit;
    width: 28%;
    background-color: var(--black);
}

.tile-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-tile a p{
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 0 5px; */
}

#contact{
    height: 70vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#contact .contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 5%;
    margin-top: 20px;
}

#contact a{
    color: inherit;
    font-size: 2.5rem;
    width: 55px;
}

#contact a:hover{
    color: var(--yellow);
    font-size: 3rem;
}

#footer{
    border-top: 3px solid var(--yellow);
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8%;
}
@media (min-width:700px) and (max-width:1000px){
    .project-tile a{
        width: 40%;
    }
}
@media (max-width:700px){
    #projects .project-tile{
        flex-direction: column;
        align-items: center;
    }
    .project-tile a{
        width: 75%;
    }
}